<div th:fragment="addRoom">
	<div class="container-fluid">
		<div class="card mb-3">
			<div class="card-header">Add Rooms</div>
			<div class="card-body">
				<form>
					<div class="form-group">
						<label for="device">Code:</label> <input type="text"
							class="form-control" id="device">
					</div>
					<div class="form-group">
						<label for="device">Name:</label> <input type="text"
							class="form-control" id="device">
					</div>
					<div class="form-group">
						<label for="comment">Description:</label>
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
				</form>

			</div>
		</div>
	</div>