<div th:fragment="addUser">
<div class="container-fluid">
 <div class="card mb-3">
      <div class="card-header">Add Users</div>
      <div class="card-body">
        <form>
					<div class="form-group">
						<label for="device">First Name:</label> <input type="text"
							class="form-control" id="device">
					</div>
										<div class="form-group">
						<label for="device">Last Name:</label> <input type="text"
							class="form-control" id="device">
					</div>
										<div class="form-group">
						<label for="device">Email:</label> <input type="text"
							class="form-control" id="device">
					</div>
										<div class="form-group">
						<label for="device">UserName:</label> <input type="text"
							class="form-control" id="device">
					</div>
										<div class="form-group">
						<label for="device">Password:</label> <input type="text"
							class="form-control" id="device">
					</div>
					<div class="form-group">
						<label for="sel1">Role</label> <select class="form-control"
							id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sel1">Associate Devices</label> <select class="form-control"
							id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
        </form>
      </div>
    </div>
  </div>