
<div th:fragment="rooms">
<div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
                <tbody>
					<tr th:each="room : ${tables}">
						<td th:text="${room.id}"></td>
						<td th:text="${room.code}"></td>
						<td th:text="${room.name}"></td>
						<td th:text="${room.description}"></td>
						<td><a th:href="@{/rooms/{id}/(id=${room.id})}" class="badge badge-secondary">Edit</a></td>
						<td><a th:href="@{/delete(id=${room.id})}" class="badge badge-danger">Delete</a></td>
					</tr>
				</tbody>
            </table>
            <a th:href="@{/rooms/new}" class="btn btn-primary">Add New</a>
          </div>
        </div>
      </div>
    </div>
 </div>